.movieCard:hover{
    border-radius: 1%;
}

.movieCard{
    border-radius: 510px;
}

.card-title h4{
    font-family: 'Ceviche One', cursive;
    font-size: 1.8rem;
    color:black !important;
}

img.card-img-top{
    height:100%;
}

.card-title h4{
    padding:5px;
}

div.col-lg-4.col-md-6.col-12{
    margin-bottom:15px;
}

button.movie-card{
    width:100%;
}
img.movieCardImg{
    transition: 0.2s;
}
img.movieCardImg:hover{
    transform:scale(1.2);
}