
.main-view{
    padding-top:8%;
}

.row{
    margin:10px !important;
}

nav.navbar{
    width:100%;
    height:100px;
}

.d-flex{
    margin:0;
}

span.navbar-text{
    color:black !important;
}

div.justify-content-end.navbar-collapse.collapse{
    margin:2rem;
}