// .loginContainer{
//     // width:100%;
//     // background-color: rgb(19, 0, 70);
//     // position: absolute;
//     // top: 50%;
//     // left: 50%;
//     // -ms-transform: translate(-50%, -50%);
//     // transform: translate(-50%, -50%);
// }
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
form.form.text-center.was-validated{
    margin:0 auto;
}

h1.syfy-title{
    font-family: 'Black Ops One', cursive;
    color:rgb(255, 244, 84);
    -webkit-text-stroke: .55px #000;
}

Form.loginForm{
    background-color: rgba(165, 201, 255, 0.185);
    padding:10rem;
    border-radius: 50%;
    // margin:0 auto;
    // margin:200px 100px;
    .formButton{
        width:100%;
        color: #ffeaa7;
        background-color: #ffeaa7;
        padding: 10px;
        border:0;
        background-image: linear-gradient(to left, #ffeaa7 0%, #000000 74%);
        background-size: 200%;
        transition: 0.6s;
    }.formButton:hover{
        background-position:right;
        color:black;
    }

    .registerButton{
        width:75%;
        color: #ffeaa7;
        background-color: #ffeaa7;
        padding: 10px;
        border:0;
        background-image: linear-gradient(to left, #ffcaa7 0%, #570000 74%);
        background-size: 200%;
        transition: 0.6s;
    }.registerButton:hover{
        background-position:right;
        color:black;
    }
    .form-text{
        padding:10px 0px 10px 0;
    }

    .form-label{
        font-size:20px;
    }
}

Figure.Image.logo{
    border-radius: 10px;
}
